/* QnA.css */
.accordion-section {
  margin-bottom: 20px;
  cursor: pointer;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  background-color: #f0f0f0;
  padding: 10px;
}

.accordion-question {
  font-size: 1.5rem;
  font-weight: bold;
}

.accordion-icon {
  font-size: 1.5rem;
}

.accordion-answer {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  display: none;
}

.accordion-section.active .accordion-answer {
  display: block;
}
