@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap");
body {
  margin: 0;
  line-height: normal;
}

.logo-icon {
  position: relative;
 
  height: 32px;
}
.flowbite {
  position: relative;
  line-height: 150%;
  font-weight: 600;
}
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}
.text {
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 14px;
  color: #000;
}
.link1,
.nav-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.nav-links {
  flex: 1;
  flex-direction: row;
  gap: 32px;
  text-align: center;
  font-size: 16px;
}
.cart-plus-icon {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.button,
.cta {
  flex-direction: row;
}
.button {
  border-radius: 8px;
  background-color: #0694a2;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  gap: 8px;
  color: #fff;
}
.cta {
  justify-content: flex-start;
  gap: 16px;
  font-size: 14px;
}
.cta,
.navbar-bg,
.navbar-upper {
  display: flex;
  align-items: center;
}
.navbar-upper {
 
  flex-direction: row;
  justify-content: flex-start;
  gap: 32px;
}
.navbar-bg {
  position: relative;
  border-radius: 13px;
  background-color: #fff;
 
  height: 77px;
  flex-direction: column;
  justify-content: center;
  padding: 24px;
  box-sizing: border-box;
  text-align: left;
  font-size: 24px;
  color: #111928;
  font-family: Inter;
}